torch>=2.2.0
torchvision>=0.17.0
lightning>=2.5.1
torchmetrics>=1.7.1

timm>=0.9.16
transformers>=4.40.0
einops
fvcore>=0.1.5


numpy>=1.26
scipy
scikit-learn
Pillow
opencv-python-headless
pycocotools>=2.0.8

matplotlib
tqdm
PyYAML
wandb
jsonargparse[signatures]
gitignore_parser
ipykernel